body {
	margin:0;
	padding:0;
	font-family: "Gudea", sans-serif;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==") fixed;
	height: 100%;
	color: #444;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 40pt;
	margin: 0;
	padding: 0;
	color: #069;
}
h1 a { text-decoration:none; }
h2 {
	margin: 5px 0 0 0;
}
h2.title {
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
}
a {
	color: #069;
}
a:hover {
	color: #003e5d;
}
.main-title {
	color: #999;
	vertical-align: middle;
	font-size: 20pt;
}
.stats-title {
	color: #999;
}
.content {
	width: 950px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.stats-header {
	margin-bottom: 15px;
}
.banner {
	border-bottom: 1px solid #ddd;
}
.banner ul {
	padding: 0;
	margin: 20px 0 10px 0;
}
.banner ul li {
	display: inline;
	padding-right: 10px;
}
.banner li a {
	text-decoration: none;
	padding: 5px;
	font-size: 14pt;
}
.banner li a:hover {
	background-color: #069;
	color: #fff;
}
.banner li a.active {
	background-color: #069;
	color: #fff;
}
.home {
	margin-top: 30px;
}
h2.intro {
	font-size: 30pt;
	color: #666;
}
span.pushpin {
	color: #069;
}
span.osm {
	color: #95c47b;
}
.copy {
	float: left;
	padding-right: 15px;
	width: 520px;
}
.logo {
	float:right;
}
.about h2 {
	margin-top: 15px;
}
.map {
	margin-top: 15px;
}
.summary {
	float: right;
	text-align: right;
	font-size: 14pt;
}
.summary td.left {
	text-align: left;
	text-transform: uppercase;
	font-size: 11pt;
	letter-spacing: -1px;
	padding-right: 10px;
}
.summary td.right { text-align: right; }
.summary td.return {
	font-size: 8pt;
}
.column-left {
	float: left;
	width: 700px;
}
.column-right {
	float: right;
	width: 250px;
}
#recent-edits {
  margin-top: 10px;
	margin-bottom: 25px;
}
#top-users {
  margin-top: 10px;
	font-size: 10pt;
}

.date {
	color: #aaa;
	font-size: 10pt;
}

.edit {
  display: block;
  padding: 5px;
}
.user {
  display: block;
  padding: 2px;
}

.footer {
	clear: both;
	text-align: center;
	font-size: 10pt;
	color: #aaa;
	padding-top: 30px;
}
.footer img {
	vertical-align: middle;
	padding: 0 10px;
}
.download {
	text-align: center;
	margin-top: 25px;
}
.iphone {
	float: right;
	background:url(../img/iphone5-chrome.png) no-repeat;
	height:831px;
	position:relative;
	width:400px;
}
.screens { 
	position:absolute;
	top:123px;
	right:35px;
}
.screens img { position:absolute;
	height:588px;
	width:331px;
	top:0px;
	right:0px;
}
/*

640 x 1136
320 x 568
320 x 480
*/