---
layout: default
category: about
permalink: /about/
---

<div class="content">
  <header class="banner">
    <h1><a href="/">Pushpin</a> <span class="main-title">:: About</span></h1>
    {% include header.html %}
  </header>
  <div class="stats">
  <h2>About OpenStreetMap</h2>
  <p>The <a href="http://openstreetmap.org/">OpenStreetMap</a> project creates and distributes free geographic data for the entire planet. Though many people are not aware, map data provided by commercial companies is not freely available, but must be licensed for use from the data owners. With OpenStreetMap, anyone is free to <a href="http://planet.openstreetmap.org/">download the complete database</a> to use in new applications or creative works. A core tenet of the OpenStreetMap project is that users can map their own neighborhoods, and if everyone did so, we would collectively have an amazing map of the world.</p>
  <h2>Why a mobile editor?</h2>
  <p></p>
  <h2>Who uses OpenStreetMap data? Why should I contribute?</h2>
  <p>Dozens of companies and web services use OpenStreetMap data in their applications, and more and more are adopting OSM as their source for map data each and every day. Here are just a few services that are using OpenStreetMap data to augment their products with open data:</p>
  <ul>
  	<li><a href="http://mapbox.com/">MapBox</a></li>
  	<li><a href="http://foursquare.com/">Foursquare</a></li>
  	<li><a href="http://flickr.com/">Flickr</a></li>
  	<li><a href="http://stamen.com">Stamen</a></li>
  	<li><a href="http://opengeo.org">OpenGeo</a></li>
  	<li><a href="http://spatialnetworks.com/">Spatial Networks</a></li>
  	<li><a href="http://streeteasy.com/">StreetEasy</a></li>
  	<li><a href="http://www.nestoria.co.uk/">Nestoria</a></li>
  </ul>
  </div>
  {% include footer.html %}
</div>