---
layout: default
category: about
title: About
permalink: /about/
---

<div class="content">
  <header class="banner">
    <div class="logo">
      <img src="/img/icon.png" />
    </div>
    <h1><a href="/">Pushpin</a> <span class="main-title">:: About</span></h1>
    {% include header.html %}
  </header>
  <div class="about">
  <h2>About OpenStreetMap</h2>
  <p><img src="/img/osmlogo.png" alt="OpenStreetMap logo" class="logo" />The <a href="http://openstreetmap.org/">OpenStreetMap</a> project creates and distributes free geographic data for the entire planet. Though many people are not aware, map data provided by commercial companies is not freely available, but must be licensed for use from the data owners. With OpenStreetMap, anyone is free to <a href="http://planet.openstreetmap.org/">download the complete database</a> to use in new applications or creative works. A core tenet of the OpenStreetMap project is that users can map their own neighborhoods, and if everyone did so, we would collectively have an amazing map of the world.</p>
  <h2>Why a mobile editor?</h2>
  <p>The best hyperlocal data is captured by on-the-ground survey, with information observed while on-location at a venue, bus station, office building, et cetera. Frequently, the most valuable data about a place can't be captured while sitting at a desk behind a full web or desktop editor. We wanted to build a mobile-based option that would give OpenStreetMap contributors a way to submit data while out and about, in order to get the highest detail such as addresses, presence of specific amenities, and exact classification of data. There are already fantastic editing tools for the desktop, like <a href="http://josm.openstreetmap.de/">JOSM</a>, <a href="http://wiki.openstreetmap.org/wiki/Potlatch_2">Potlatch</a>, and <a href="http://www.geowiki.com/">iD</a>, but not many that give you a fast, easy-to-use tool for mobile devices.</p>
  <p>Contributing to OpenStreetMap with a full editing suite can also be incredibly intimidating for the uninitiated, requiring detailed knowledge of a byzantine (yet powerful) set of <a href="http://wiki.openstreetmap.org/wiki/Map_Features">tagging standards</a> for describing map features. New users are likely to be scared away by reading an encyclopedia of documentation. With Pushpin, we spent a great deal of time breaking down the standards into easily selectable and searchable lists of types and categories, so users don't have to know that <code>amenity=postbox</code> is how you add a postal box.</p>
  <h2>But who uses OpenStreetMap data? Why should I contribute?</h2>
  <p>Dozens of companies and web services use OpenStreetMap data in their applications, and more and more are adopting OSM as their source for maps each and every day. Check out <a href="http://switch2osm.org/">switch2osm</a> to see why people are switching to using OpenStreetMap data, and how you can do so for your own projects. Here are just a few services that are using OpenStreetMap data to augment their products with open data:</p>
  <ul>
  	<li><a href="http://mapbox.com/">MapBox</a></li>
  	<li><a href="http://foursquare.com/">Foursquare</a></li>
  	<li><a href="http://flickr.com/">Flickr</a></li>
  	<li><a href="http://stamen.com">Stamen</a></li>
  	<li><a href="http://opengeo.org">OpenGeo</a></li>
  	<li><a href="http://spatialnetworks.com/">Spatial Networks</a></li>
  	<li><a href="http://streeteasy.com/">StreetEasy</a></li>
  	<li><a href="http://www.nestoria.co.uk/">Nestoria</a></li>
  </ul>
  </div>
  {% include footer.html %}
</div>