---
layout: default
category: home
title: Pushpin a mobile editor for OpenStreetMap
---

<div class="content">
  <header class="banner">
    <div class="logo">
      <img src="/img/icon.png" />
    </div>
    <h1><a href="/">Pushpin</a> <span class="main-title">:: a mobile editor for OpenStreetMap</span></h1>
    {% include header.html %}
  </header>
  <div class="home">
    <div class="copy">
      <h2 class="intro">Make edits on-the-go with <span class="pushpin">Pushpin</span>, a mobile editor for <span class="osm">OpenStreetMap</span> data.</h2>
      <p>Pushpin is an app for editing and contributing data in OpenStreetMap, the free world map. Use your OSM account to make edits with Pushpin. It's designed for contributing points of interest to OSM; places like restaurants, clinics, bars, train stations, bus stops, banks, and hotels... and even amenities like bicycle parking racks, public restrooms, or post boxes.</p>
      <ul>
        <li>Browse or search POI types in a logical naming system, without having to know the specific tag names</li>
        <li>Add points of interest in your current location, or manually place them on the map</li>
        <li>Fetch existing points from OpenStreetMap to edit or reposition</li>
        <li>Geocode addresses with Nominatim (the OSM geocoder), to save time in typing address information</li>
        <li>Built in search to find other locations to edit</li>
        <li>Use aerial imagery or standard OSM map tiles for reference</li>
      </ul>
      <div class="download">
        <a href="http://openstreetmap.org/" target="_blank" title="OpenStreetMap"><img src="/img/osmlogo.png" alt="OpenStreetMap" style="margin-right: 25px;" /></a>
        <a href="https://itunes.apple.com/us/app/pushpin-osm/id565850639?mt=8" title="Download the App"><img src="/img/appstore.png" alt="Download from the App Store" /></a>
      </div>
    </div>
    <div class="iphone">
      <div class="screens">
        <img src="/img/screen1.png" alt="" />
        <img src="/img/screen2.png" alt="" /> 
        <img src="/img/screen3.png" alt="" /> 
        <img src="/img/screen4.png" alt="" /> 
        <img src="/img/screen5.png" alt="" />   
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>