---
layout: default
category: map
title: Map
permalink: /map/
---

<div class="content">
  <header class="banner">
    <div class="logo">
      <img src="/img/icon.png" />
    </div>
    <h1><a href="/">Pushpin</a> <span class="main-title">:: Map</span></h1>
    {% include header.html %}
  </header>
  <p>A global snapshot of many of the places where contributors have added data with Pushpin.</p>
  <div class="map">
    <iframe width='950' height='500' frameBorder='0' src='http://a.tiles.mapbox.com/v3/colemanm.pushpin-edits.html#2/13.923400000000008/5.6249999999999964'></iframe>
  </div>
  {% include footer.html %}
</div>