<!DOCTYPE html >
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="robots" content="index" />
  <title>{% if page.title %}{{page.title}} | {% endif %}Pushpin OSM - an OpenStreetMap POI Editor</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
  <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Gudea:400,700,400italic" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='{{site.url}}/favicon.ico' type='image/x-icon' />
  <script src="/js/stats.js"></script>
  <script src="/js/moment.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <!--[if lt IE 8]>
    <script src="http://www.json.org/json2.js"></script>
  <![endif]-->
  {% include ga.html %}
</head>
<body class="home">
  {{content}}
</body>
</html>